@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 1895px;
    background-color: #FAFAFA;
    overflow: hidden;
}

.header {
    display: flex;
    min-height: 9.375rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero {
    display: flex;
    overflow: visible;
    flex-wrap: nowrap;
    margin-top: -8.125rem;
}

.left-hero {
    margin-top: -50px;
    position: relative;
}

.right-hero {
    overflow: hidden;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
}

.hero-content h1 {
    font-family: 'Red Hat Display', sans-serif;
    color: #28283D;
    font-size: 4rem;
    line-height: 64px;
    text-align: center;
    padding: 0 150px;
}

.hero-content p {
    font-family: 'Red Hat Display', sans-serif;
    color: #87879D;
    line-height: 26px;
    font-size: 18px;
    padding: 0 90px;
    text-align: center;
}

.download-btn-1 {
    height: 58px;
    width: 193px;
    background-color: #4D96A9;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin: 5px;
}

.download-btn-1 span {
    color: #8FE3F9;
}

.download-btn-1:active, .download-btn-1:hover {
    height: 58px;
    width: 193px;
    background-color: #71C0D4;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin: 5px;
    cursor: pointer;
}

.wtf {
    height: 58px;
    width: 139px;
    background-color: #855FB1;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin: 5px;
}

.wtf:hover, .wtf:active {
    height: 58px;
    width: 139px;
    background-color: #B18BDD;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin: 5px;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 1000px;
    overflow: visible;
}

.first-line {
    width: 1px;
    height: 84px;
    background-color: rgba(135, 135, 157, 0.25);
    margin-left: 27px;
}

.first-number button {
    background-color: #FAFAFA;
    color: #87879D;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 16px;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 30px;
    height: 56px;
    width: 56px;
}

.main-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 150px;
}

.main-images img {
    border-radius: 10px;
}

.main-content {
    text-align: center;
}

.overline {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    letter-spacing: 4px;
    font-size: 16px;
    text-transform: uppercase;
    color: #4D96A9;
}

.main-content h2 {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    color: #28283D;
    font-size: 40px;
    padding: 10px 500px;
    margin-top: -10px;
}

.main-content p {
    font-family: 'Red Hat Display', sans-serif;
    color: #87879D;
    font-size: 18px;
    padding: 10px 460px;
}

.second-line {
    width: 1px;
    height: 84px;
    background-color: rgba(135, 135, 157, 0.25);
    margin-left: 27px;
}

.second-number button {
    background-color: #FAFAFA;
    color: #87879D;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 16px;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 30px;
    height: 56px;
    width: 56px;
    z-index: 2;
    position: relative;
}

.footer {
    display: flex;
    min-height: 308px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-image: url(./src/assets/desktop/image-footer.jpg);
    position: relative;
    margin-top: -175px;
    flex-wrap: wrap;
}

.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding-right: 150px;
    flex-wrap: wrap;
}

.footer h2 {
    font-family: 'Red Hat Display', sans-serif;
    color: #FAFAFA;
    font-weight: 900;
    font-size: 40px;
    z-index: 2;
    margin-left: 100px;
    width: 33%;
}

.footer p {
    z-index: 2;
    font-family: 'Red Hat Display', sans-serif;
    color: #FAFAFA;
    font-size: 18px;
    font-weight: 400;
    margin-left: -50px;
    padding-right: 80px;
    width: 33%;
}

.footer-mask {
    background-color: #4D96A9;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 85%;
    z-index: 1;
}

.footer-mask-2 {
    background-color: #4D96A9;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 15%;
    z-index: 1;
    mix-blend-mode: multiply;
}

.footer button {
    height: 58px;
    width: 193px;
    background-color: #855FB1;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin: 5px;
    z-index: 2;
}

.footer button span {
    color: #D9B8FF;
}

.hero-mobile {
    display: none;
}

.footer button:active, .footer button:hover{
    height: 58px;
    width: 193px;
    background-color: #B18BDD;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 900;
    margin: 5px;
    z-index: 2;
    cursor: pointer;
}

.mobile-images {
    display: none;
}


@media screen and (max-width: 975px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: 2128px;
        background-color: #FAFAFA;
        overflow: hidden;
    }

    .header {
        display: flex;
        min-height: 9.375rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .hero {
        display: flex;
        overflow: visible;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
    }

    .hero-mobile {
        display: block;
        margin-top: 130px;
    }

    .left-hero {
        display: none;
    }

    .right-hero {
        display: none;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
    }

    .hero-content h1 {
        font-size: 48px;
        margin: 60px 0 30px 0;
    }

    .hero-content p {
        margin: 0 50px 20px 50px;
    }

    .main-images {
        display: none;
    } 
    
    .mobile-images{
        display: flex;
        margin-top: -150px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 80%;
    }

    .mobile-images img {
        border-radius: 10px;
    }

    .main-content {
        margin-bottom: -130px;
    }

    .overline {
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 900;
        letter-spacing: 4px;
        font-size: 16px;
        text-transform: uppercase;
        color: #4D96A9;
        margin-top: -130px;
    }
    
    .main-content h2 {
        padding: 20px 160px;
    }

    .main-content p {
        position: relative;
        width: 100%;
        padding: 0 60px;
    }

    .footer {
        min-height: 428px;
        background-image: url(./src/assets/tablet/image-footer.jpg);
        margin-top: -27px;
        margin-bottom: -50px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 0;
        position: relative;
    }

    .footer-content h2 {
        width: 100%;
        padding: 0 150px;
        margin: 0;
        text-align: center;
    }

    .footer-content p {
        width: 100%;
        padding: 0 100px;
        margin: 20px 0;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .top {
        margin-bottom: 15px;
        margin-top: 75px;
    }

    .main-content h2 {
        padding: 0;
        margin: 10px 0;
    }

    .footer {
        margin-bottom: 0;
    }

    .mobile-images {
        margin-top: -200px;
    }

    .hero-content h1 {
        padding: 0;
    }

    .hero-content p {
        padding: 0;
    }

    .second-number {
        margin-top: 60px;
    }
}

@media screen and (max-width: 415px) {
    .container {
        min-height: 2215px;
    }

    .hero-mobile img {
        height: 153px;
    }

    .hero-content h1 {
        padding: 0 50px;
        font-size: 40px;
        line-height: 44px;
    }

    .hero-content p {
        padding: 0;
        font-size: 16px;
        margin: 0 20px 10px 20px;

    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobile-images {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: 100vw;
        margin-bottom: -100px;
        margin-top: -100px;
    }

    .top {
        margin-bottom: 15px;
        margin-top: 75px;
    }

    .first-number {
        margin-top: -50px;
    }

    .main-content h2 {
        padding: 0 5px;
        margin-top: 40px;
        line-height: 36px;
    }

    .overline {
        padding: 0;
    }

    .main-content p {
        padding: 0 5px;
        margin-top: 40px;
    }

    .footer {
        margin-top: -63px;
        min-height: 428px;
        background-image: url(./src/assets/mobile/image-footer.jpg);
        background-size: cover;
    }

    .second-number {
        margin-top: 100px;
    }

    .footer h2 {
        padding: 0;
        text-align: center;
    }

    .footer p {
        padding: 0 25px;
    }

    .footer button {
        margin-bottom: 40px;
    }
}
